html {

    color: #ffffff;
}

header {

    color: lightgrey;
    font-size: 36px;
    font-weight: bold;
}

footer {

    color: lightgrey;
    font-size: small;
}

a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

small {

    font-size: 70%;
}

ul#menu li {
    display:inline;
    font-size: 10pt;
    list-style: none;
    font-family: Galvji;
}

ul#board li {
    display:inline;
    font-weight: 700;
    font-size: 11pt;
    list-style: none;
}

ul.flashes {

    z-index: 3000;
    font-size: 10pt;
    list-style: none;
    font-family: Galvji;
    margin-top: 15vh;
    color: #343a40;
}

input {

    border-radius: 2px !important;
    border-color: #afb0b8;
}

img {

    border-radius: 3px;

}

table {

    border-top-color: 5px solid #fff !important;;
}

::placeholder {

    font-size: 9pt;
    padding: 4px;
    color: #afb0b8 !important;
}

#logo {

    height: 56px;
}

#menu {

    padding-right: 3rem!important;
    margin-top: 1rem!important;
    padding-left: 3rem!important;
}

#enter {
    
    border-radius: 0px;
    font-family: Galvji;
    line-height: 9px;
    font-weight: 550;
    opacity: 0.9;
    margin-top: 2rem!important;
}

#commit-banner {
    
    border-radius: 0px;
    font-family: Galvji;
    line-height: 9px;
    font-weight: 350;
    opacity: 0.9;
}


#todayButton1 {

    display: inline-block !important;
    text-align: center !important;
    vertical-align: middle !important;
    border-radius: 0px !important;
    font-family: Galvji !important;
    line-height: 9px !important;
    font-weight: 350 !important;
    color: #535d67 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
    border: 1px solid transparent !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}


#commit-tagline {
    
    border-radius: 0px;
    font-family: Galvji;
    line-height: 9px;
    font-weight: 350;
    opacity: 0.9;
}



#preview {
    
    border-radius: 0px;
    font-family: Galvji;
    font-size: 10pt;
}

#contact {
    
    border-radius: 0px;
    font-family: Galvji;
    font-size: 10pt;
    font-weight: 500;
}

#container {

    height: 90vh !important;
}

#img-home {
    margin-top: -4px;
    background-size: auto;
    -moz-background-size: auto;
    -webkit-background-size: auto;
    -o-background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 110vh;
    color: white;
    font-size: 42px;
    transform: scaleY(0.9) translateY(-5%);
}

#home-overlay {

    opacity: 0.3;
    height: 110vh;
    width: 100vw;
    background-color: #0f121a}
}

#home-overlay::after {

    opacity: 1;
}



#img-about {
    margin-top: -20%;
    opacity: 1;
    background-image: url("/static/images/lowe.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    height: 110vh;
    color: white;
    font-size: 42px;
    transform: scaleY(0.9) translateY(-5%);
}

#about-overlay {

    opacity: 0.3;
    height: 120vh;
    width: 100vw;
    background-color: #0f121a;
}

#content {
    
    top: 25% !important;
    width: 100vw !important;
    margin: auto !important;
}

#nav-title-1 { 
    
    font-weight: 20;
    font-size: 64px;
}

#delete-account {

    font-size: 10pt;
}

#update-background {

    max-width: 85px;
}

#theme-title {

    font-size: 10pt;
    font-family: Galvji;
    font-weight: 700;
}

.upload-user-image {

    width: 20px;
}

.remove-user {

    width: 20px;
}

.hide {

    display: none;
}

.nav-link {

    outline: 0px solid transparent !important;
}

.update {

    border-radius: 0px;
    font-family: Galvji;
    font-size: 10pt;
    font-weight: 500;
}

.error {

    font-size: 9pt;
    padding: 4px;
    color: #dc3545 !important;
}

.account-detail {

    font-size: 10pt;
    font-weight: 300;
    line-height: 10pt;
}

.alert_hide {
    top: -130px;
}

.alert_show {
    top: 0px;
}

.alert_flash {
    top: -130px;
    min-width: 400px !important;
    height: 114px;
    border-radius: 5px;
    box-shadow: 2px 3px 15px rgb(128, 128, 128, 0.9);
    transition: top 0.5s ease-in-out;
    left: 50%;
    margin-left: -200px;
    z-index: 300;
}

.dropdown-toggle::after {

    border-top: 0.8em solid !important;
    border-right: 0.6em solid transparent !important;
    border-left: 0.6em solid transparent !important;
    margin-top: 1.3em !important;
}

.dropdown-menu{

    min-width: 25rem;
    box-shadow: rgba(50, 50, 50, 0.9) 0px 0px 20px !important;
}

.dropdown-menu-base{

    transform: translate3d(-269px, -183px, 0px) !important;
}


.dropdown-form {

    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.background-dropdown::after {

    border: none !important;
}

.update-background {

    bottom: 0vh;
    right: 0vw;
}


.bubble {

    position: fixed !important;
    margin-top: 48vh !important;
    width: 320px  !important;

}

.form-label {

    font-size: 11pt;
    font-weight: 300;
    line-height: 10pt;
}

.label {

    font-size: 10pt;
    font-weight: 300;
    color: #afb0b8;
    line-height: 10pt;
}

.container {

    min-width: 100vw;
    min-height: 100vh;
}

.base {

    transform: scale(1) !important;
    height: 50px;
    bottom: -250px;
}

.content {

    transform: scale(1) !important;
    height: 100% !important;
    bottom: -250px;
}

.lift {

    top: -12vh;
    z-index: 1000;
}

.base-col {

    top: -12vh;
}

.base-row {

    position: absolute;
    width: 100%;
}

.border-black {

    border-color: #1a1e21 !important;
}

.bg-black {

    background-color: #1a1e21 !important;
}

.color{

    opacity: 0.8;
    width: 50px;
    height: 50px;
}

.color:hover {
opacity: 1;
cursor: pointer;
}


.title {

  top: 0px; /* Stay on top */
  left: 0px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  background-color: rgba(255, 255, 255, 0);
  z-index: 100;
}

.section {

    height: 100%;
    font-size: 14pt;
    font-weight: 700;
    font-family: Galvji;
}

.section_hr {

    width: 95px;
    border-color: #d9dfe4;
    opacity: 0.2;

}

.section-mission {

    height: 100%;
    font-size: 10pt;
    font-weight: 500;
    line-height: 1.3 !important;
    font-family: Galvji;
}

.section-calendar-header {

    height: 90px;
    font-weight: 600;
    font-family: Galvji;
    padding-left: 10em !important;
    padding-right: 10em !important;
}

.section-calendar {

    font-size: 80%;
    font-weight: 300;
}

.section-contact-bar {

    height: 80px;
}

.section-account-bar {

    height: 80px;
}

.section-contact-header {
    font-size: 20px;
    font-weight: 600;
    font-family: Galvji;
}

.section-contact-body {

    font-size: 80%;
    font-weight: 300;
}

.section-account {

    height: 100%;
    font-size: 10pt;
    font-weight: 500;
    line-height: 1.3 !important;
    font-family: Galvji;
}

.mission-p {

    width: 90%;
    max-width: 700px;
}


.inactive-title {

    top: -65px;
}

.banner {

    top: 45vh;
    left: 50%;
    margin-left: -340px;
    font-family: Arial;
    transform: scaleY(1.1);
    width: 700px;
}

.banner-title {

}

.banner-about {

    top: 70vh;
    left: 48%;
    margin-left: -340px;
    font-family: Arial;
    transform: scaleY(1.1);
    width: 700px;
    line-height: 1.3;
    font-weight: 500;
}

.banner_hr {

    left: 50%;
    margin-left: -105px;
    transform: scaleY(1.1);
    width: 200px;
    border-width: 2px;
    border-color: #d9dfe4;
    opacity: 0.2;
}

.banner_hr_small {

    left: 50%;
    margin-left: -93px;
    transform: scaleY(1.1);
    width: 185px;
    border-width: 2px;
    border-color: #d9dfe4;
    opacity: 0.2;
}

.banner-tagline {

    font-size: 12pt;
    font-weight: 500;
    font-family: Galvji;
}

.top {

    z-index: 300;
}

.down-arrow{

    height: 30px;
    top: 0px;
}

.down-arrow-adjust {

    height: 30px;
    top: 0px;
}

.social-media {

    height: 50px;
}

.social-media-div {

    max-width: 52px  !important;
}

.social-media-toggle::after {

    margin-left: 0px !important;
    margin-top: 0px !important;
    border-top: 0.6em solid !important;
    border-right: 0.4em solid transparent !important;
    border-left: 0.4em solid transparent !important;
}

.footer {

    font-size: 10pt;
    font-weight: 500;
    font-family: Galvji;
    z-index: 300;
}

.modal-content {

    border: none;
    border-radius: 0px;
    width: 300px;
    margin-left: 25%;
}

.modal-body {

    font-size: 10pt;
}

.btn {

    font-family: Galvji;
}

.btn-outline-primary {

    color: #00a1fe;
    border: none;
    border-radius: 0px;
}

.btn-outline-primary:hover {

    color: #00a1fe;
    opacity: 0.8;
    border: none;
    border-radius: 0px;
    background-color: #ffffff;
}

.board-member {

    font-family: Galvji;
}

.board-member-roll {

    font-weight: 500;
    font-size: 9pt;
    font-family: Galvji;
}

.btn-light {

    color: #535d67;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light:hover {
    color: #535d67;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.view-cap {

    background-color: #fff !important;

}

.view-container-border {

    padding: 0 !important;
}

.mv-daynames-table {

    background: #fff !important;
    color: #6c757d !important;
}

.mv-dayname {

    font-weight: 700 !important;
    font-family: Galvji !important;
    text-transform: uppercase !important;
    font-size: 10pt !important;
    padding: 0 !important;
}

.mv-event-container {

    background: #f8f9fa !important;
    border-top: 9.5px solid #fff !important;
    border-bottom: 10px solid #fff !important;
}


.st-dtitle {

    background: #f8f9fa !important;
    color: #6c757d !important;
    font-weight: 700 !important;
    border-left: 5px solid #fff !important;
    border-top: 5px solid #fff !important;
}

.st-dtitle-nonmonth {

    background: #fff !important;
    color: #c3ccd4 !important;
    font-weight: 700 !important;
}

.st-bg {

    border-left: 5px solid #fff !important;
}

.st-bg-today {

    background: #e7eaee !important;
    border-left: 5px solid #fff !important;
    border-right: 5px solid #fff !important;
}

.st-dtitle-today {

    background: #e7eaee !important;
    border-top: 5px solid #fff !important;
    border-bottom: none !important;
}

.st-c {

    color: ;
}


.calendar-container{

    padding: 0em 8em 8em 8em !important;
}

.ui-rtsr-unselected {

    background-color: #fff !important;
    color: #343a40 !important;
}

.ui-rtsr-last-tab {

    margin-right: 2px !important;
}

.ui-rtsr-name {

    font-weight: 500 !important;
    font-size: 80% !important;
    font-family: Galvji !important;

}

.tab-name {
    
    font-weight: 500 !important;
    font-size: 80% !important;
    color: #343a40 !important;
    margin-left: 2px !important;
    font-family: Galvji !important;

}

.tg-col-today {

    border-left: 1px solid #fff !important;
}  

.tg-today {
    
    background-color: #e7eaee !important;
}

.wk-weektop {

    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

.wk-dayname {

    color: #343a40 !important;
    font-weight: 500 !important;
    font-family: Galvji !important;
}

.wk-today {

    background-color: #e7eaee !important;
    color: #343a40 !important;
    font-weight: 500! important;
    border: 1px solid #d3d8e0 !important;

}

.tg-times-pri, .tg-times-sec {

    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

.date-top {

    font-size: 20pt !important;
}

.btn-black {

    color: #fff !important;
    background-color: #2e3439 !important;
    border-color: #24292d !important;
}

.btn-black:hover{

    color: #fff !important;
    background-color: #1a1e21 !important;
    border-color: #0d0f11 !important;
}

.base-2 {

    margin-right: 1.5rem;
}

.banner-row {

    height: 111vh;
}

#viewContainer1 {

    height: 90vh !important;
}

@media screen and (max-width: 500px) {

    #img-about {

        margin-top: -16%;
        height: 50vh;
        background-size: 120vw;
        -moz-background-size: 120vw;
        -webkit-background-size: 120vw;
        -o-background-size: 120vw;
    }

    #menu {

        padding-left: 0!important;
        padding-right: 0!important;
    }

    .banner {

        transform: scaleY(1);
    }

     .banner-row {

        height: 87vh;
    }


    .banner-title {

        font-size: 26pt;
    }

    .banner_hr {
        
        left: 55.2%;
        width: 130px;
    }

    .banner_hr_small {
        
        left: 53.5%;
        width: 130px;
    }

}

@media screen and (max-width: 576px) {


    #img-about {

        background-size: 200vw;
    }

    .banner-title {
        font-size: 25pt;
    }

    .banner-about {

        top: 30vh;
        font-size: 20pt;
    }

    .banner-row {

        height: 99vh;
    }

    .about-row {

        height: 36vh;
    }

    .banner {

        left: 0%;
        margin-left: 0px;
        top: 35vh;
    }

    .lift {

        top: 0vh;
    }

    .calendar-container{

        padding: 0em 0em 0em 0em !important;
    }

    .section-calendar-header {

        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .down-arrow-adjust {

        margin-right: 145px;
    }

    .down-arrow{

        margin-right: 18px;
    }

    .base-row {

        position: relative;
        margin-bottom: 2rem;
        margin-left: .1rem;
    }


    .base-col {

        top: 0vh;
    }

    .base-2 {

        margin-top: 2rem;
        margin-right: 1.5rem;
    }
    

@media screen and (min-width: 576px) {

    .banner-about {

        top: 60vh;
    }

    #img-about {

        height: 95vh !important;
    }  

    .banner {

        left: 0%;
        margin-left: 0px;
    } 

    .calendar-container{

        padding: 0em 2em 2em 2em !important;
    } 

    .section-calendar-header {

        padding-left: 4em !important;
        padding-right: 4em !important;
    }

    .down-arrow-adjust {

        margin-right: 140px;
    }

    .down-arrow {

        margin-right: 7px;
    }      
}

@media screen and (min-width: 768px) {
 
    .banner-about {

        top: 65vh;
    }

    #img-about {

        height: 100vh !important;
    }

    .banner {

        left: 50%;
        margin-left: -340px;
    }

    .calendar-container{

        padding: 0em 4em 4em 4em !important;
    } 

    .section-calendar-header {

        padding-left: 8em !important;
        padding-right: 8em !important;
    }

    .down-arrow-adjust {

        margin-right: 120px;
    }

    .down-arrow {

        margin-right: -5px;
    }         
}

@media screen and (min-width: 992px) {

    .banner-about {

        top: 75vh;
    }

    #img-about {

        height: 110vh !important;
    }

    .calendar-container{

        padding: 0em 6em 6em 6em !important;
    }

    .section-calendar-header {

        padding-left: 10em !important;
        padding-right: 10em !important;
    }

    .down-arrow {

        margin-right: -10px;
    } 
                   
}

@media screen and (min-width: 1200px) {

    .banner-about {

        top: 60vh;
    }

    #img-about {

        height: 110vh !important;
    }                
}

@media screen and (min-width: 2560px) {

      .banner-about {

        top: 65vh;
    }

    #img-about {

        height: 110vh !important;
    }               
}

@media screen and (min-width: 4096px) {

     .banner-about {

        top: 75vh;
    }

    #img-about {

        height: 110vh !important;

    }              
}