{% extends 'base.html' %}
{% block content %}

            <div class="row about-row">
                <div id="img-about" class="col pl-0 position-relative text-white text-center align-text-top"><div id="about-overlay"></div>
                    <div class="p-4 position-fixed text-uppercase banner-about">
                        About us
                        <hr class="banner_hr position-fixed border mt-2">
                    </div>
                    
                </div>
            </div>
            <div class="lift content position-relative row bg-white text-center">
                <div class="col">
                    <div class="row">
                        <div class="col section text-center pt-5">
                            MISSION
                            <hr class="section_hr border mt-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col section-mission pt-4">
                            <p class="mission-p text-justify d-inline-block">
                                Id eam errem facilisis dissentias, cu vel nisl enim invenire. Fabulas democritum instructior vel ne. Duis voluptaria argumentum no sed, nec clita eruditi consulatu cu. Exerci cotidieque accommodare ea vis, id invenire suscipiantur ius. Ea iriure sensibus nec, pro iusto luptatum sadipscing no, simul clita interesset vix ea. Eu mentitum definitionem sed, ex scripta scriptorem vis. Inani appetere pri cu. Tota admodum liberavisse id pri, pro simul facilisi consulatu ei. Dicunt commodo mediocritatem in nec, usu eu indoctum inciderint.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col section text-center pt-5">
                            FOUNDERS
                            <hr class="section_hr border mt-4 ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col section-board text-center">
                            <ul id="board" class="p-0">
                                {% for member in members %}
                                {% if member.founder == True %}
                                <li class="p-0">
                                    <div id="1" class="board-member d-inline-block text-center p-5">
                                        {{member.name}}
                                        <br>
                                        <span class="board-member-roll">
                                            {{member.title}}
                                        </span>
                                        <br>
                                        <img class="board-member-img p-2" src="{{member.image}}">
                                        <br>
                                        <img class="upload-user-image d-inline mr-3" src="/static/images/upload.png">
                                        <button type="button" class="btn btn-light py-0 text-uppercase" data-toggle="modal" data-target="#exampleModal" data-name="{{member.name}}" data-title="{{member.title}}" data-about="{{member.about}}"> 
                                            <small> 
                                                More
                                            </small>
                                        </button>
                                        <img class="remove-user d-inline ml-3" src="/static/images/trash.png">
                                    </div> 
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col section text-center pt-5">
                            EXECUTIVE BOARD
                            <hr class="section_hr border mt-4 ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col section-board text-center">
                            <ul id="board" class="p-0">
                                {% for member in members %}
                                {% if member.founder == False %}
                                <li class="p-0">
                                    <div id="1" class="board-member d-inline-block text-center p-5">
                                        {{member.name}}
                                        <br>
                                        <span class="board-member-roll">
                                            {{member.title}}
                                        </span>
                                        <br>
                                        <img class="board-member-img p-2" src="{{member.image}}">
                                        <br>
                                        <img class="upload-user-image d-inline mr-3" src="/static/images/upload.png">
                                        <button type="button" class="btn btn-light py-0 text-uppercase" data-toggle="modal" data-target="#exampleModal" data-name="{{member.name}}" data-title="{{member.title}}" data-about="{{member.about}}"> 
                                            <small> 
                                                More
                                            </small>
                                        </button>
                                        <img class="remove-user d-inline ml-3" src="/static/images/trash.png">
                                    </div> 
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">
                            </h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>

                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '{{members.email}}'">
                                <small>
                                    CONTACT
                                </small>
                            </button>
                            <button type="button" class="btn btn-outline-primary" onclick="window.location.href = '{{members.coffee}}'">
                                <small>
                                    COFFEE CHAT
                                </small>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename='about.js') }}"></script>


{% endblock %}