{% extends 'base.html' %}
{% block content %}

            <div class="row">
                <div id="img-about" class="col pl-0 position-relative text-white text-center align-text-top">
                    <div class="p-4 position-fixed text-uppercase banner-about">
                        Account
                        <hr class="banner_hr_small position-fixed border mt-2">
                    </div>
                    
                </div>
            </div>
            <div class="lift content position-relative row bg-white text-center">
                <div class="col">
                    <div class="row">
                        <div class="col section-calendar-header text-center p-4">
                            IMAGE UPLOAD TEST
                        </div>
                    </div>
                    <div class="row">
                        <div id="uplaods" class="col section-calendar-header text-center p-4">
                        
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block javascript %}

        <script type="text/javascript" src="{{ url_for('static', filename='calendar.js') }}"></script>


{% endblock %}