<!DOCTYPE html>
<html>
    <head>
        <title>
            Almynak | Manage you social club on the web
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/style.css">   

        <script  src="https://code.jquery.com/jquery-3.4.1.js"   
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   
            crossorigin="anonymous"> 
        </script>

        <script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
             integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
             crossorigin="anonymous">
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
             integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
             crossorigin="anonymous">
        </script>


        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js">    
        </script>

        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/additional-methods.js">
        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
    </head>
    <body class="{{ 'bg-' + theme_color}}">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-3 pb-3 pl-0 pr-4 title position-fixed">
                    <a href="/{{group_id}}/home" class="pl-0 pl-sm-4 float-left">
                        <img id="logo" src="{{brand}}" alt="logo">
                    </a>
                    {% if current_user.is_authenticated %}
                    <ul class="d-inline p-0">
                        <li class="nav-item dropdown d-inline">
                            <a class="nav-link dropdown-toggle d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form id="upload-image-form" class="dropdown-form d-inline-block" action="" method="POST" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to upload this brand image? Changes will take effect immediately.');">
                                    <div class="form-group">
                                        <label class="form-label pl-1">
                                            Select&nbsp;icon&nbsp;image:
                                        </label>
                                        <div class="custom-file d-block">
                                            <input type="file" class="custom-file-input" name="brand-image" id="brand-image">
                                            <label class="custom-file-label label pt-2" for="brand-image">
                                                Image...
                                            </label>
                                        </div>
                                    </div>
                                    <button id="upload-image" class="update btn btn-light mt-2 float-right" type="submit">
                                            Upload
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <ul id="menu" class="float-right">
                        {% for k, v in menu.items() %}
                        {% if k != "" %}
                        <li class="p-2 text-white font-weight-bold text-uppercase">
                            <a href="{{ '/' + group_id + v }}">
                                {{ k }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if current_user.is_authenticated %}
                        <li class="p-2 text-white font-weight-bold text-uppercase">
                            <a href="/account">
                                Account
                            </a>
                        </li>
                        <li class="p-2 text-white font-weight-bold text-uppercase">
                            <a href="/logout">
                                Logout
                            </a>
                        </li>
                        <li class="nav-item dropdown d-inline">
                            <a class="nav-link dropdown-toggle d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <label class="label mt-4 ml-4">
                                     Paths:&nbsp;&nbsp; '/about'&nbsp;&nbsp;  '/members'&nbsp;&nbsp; '/calendar'&nbsp;&nbsp; '/contact' 
                                </label>
                                <form id="menu-form" class="dropdown-form d-inline-block" method="POST" enctype="multipart/form-data">
                                    {% for k, v in menu.items() %}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">
                                                   {{k}}
                                                </label>
                                                <input id="name{{ loop.index }}" type="text" class="form-control update" placeholder="Name" value="{{k}}">
                                            </div>
                                            <div class="col">
                                                <label class="form-label">
                                                    {{v}}
                                                </label>
                                                <input id="path{{ loop.index }}" type="text" class="form-control path update" placeholder="Path" value="{{v}}">
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <button id="update-menu" class=" update btn btn-light mt-2 float-right" type="button">
                                            Update
                                    </button>
                                </form>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
            {% block content %}

            {% endblock %}

            <div class="lift d-block row {{ 'bg-' + theme_color}} base text-center">
                <div class="col">
                    <div class="row base-row">
                        <div class="col base-col">
                            {% if current_user.is_authenticated %}

                            <img class="down-arrow-adjust" src="/static/images/down_arrow.png">

                            {%  else %}

                            <img class="down-arrow" src="/static/images/down_arrow.png">

                            {% endif %}

                            {% if current_user.is_authenticated %}

                            <span class="float-left">

                                <label id="theme-title" class="text-uppercase text-secondary ml-2" for="theme-color"> 
                                    Select theme
                                </label>
                                <br>
                                <div id="theme-color" class="float-left">
                                </div>
                            </span>

                            {% endif %}
                        </div>
                    </div>
                    <div class="row justify-content-center base-2">
                        <div class="col social-media-div">
                            <a id="facebook_link" href="{{ facebook }}" onclick="return confirm('You are about to navigate away from the site to Facebook.com')">
                                <img class="social-media" src="/static/images/facebook.png">
                                {% if current_user.is_authenticated %}
                                <div class="nav-item dropdown d-block">
                                    <a class="nav-link dropdown-toggle social-media-toggle d-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <form id="update-facebook-form" class="dropdown-form d-inline-block" method="POST" enctype="multipart/form-data" >
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="form-label">
                                                            Facebook:
                                                        </label>
                                                        <input id="facebook" type="url" class="form-control facebook" placeholder="http://www.facebook.com/example" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="update-facebook" class="update btn btn-light mt-2 float-right" type="submit">
                                                Update
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col  social-media-div">
                            <a id="twitter_link" href="{{ twitter }}" onclick="return confirm('You are about to navigate away from the site to Twitter.com')">
                                <img class="social-media" src="/static/images/twitter.png">
                                {% if current_user.is_authenticated %}
                                <div class="nav-item dropdown d-block">
                                    <a class="nav-link dropdown-toggle social-media-toggle d-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <form id="update-twitter-form" class="dropdown-form d-inline-block"method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="form-label">
                                                            Twitter:
                                                        </label>
                                                        <input id="twitter" type="url" class="form-control twitter" placeholder="http://www.twitter.com/example" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="update-twitter" class="update btn btn-light mt-2 float-right" type="submit">
                                                Update
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col social-media-div">
                            <a id="instagram_link" href="{{ instagram }}" onclick="return confirm('You are about to navigate away from the site to Instagram.com')">
                                <img class="social-media" src="/static/images/instagram.png">
                                {% if current_user.is_authenticated %}
                                <div class="nav-item dropdown d-block">
                                    <a class="nav-link dropdown-toggle social-media-toggle d-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <form id="update-instagram-form" class="dropdown-form d-inline-block" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="form-label">
                                                            Instagram:
                                                        </label>
                                                        <input id="instagram" type="url" class="form-control instagram" placeholder="http://www.instagram.com/example" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="update-instagram" class="update btn btn-light mt-2 float-right" type="submit">
                                                Update
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col footer mt-5 text-center text-secondary">
                                &copy; Almynak 2019. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block javascript %}

        {% endblock %}
        
    </body>
</html>


