<!DOCTYPE html>
<html>
    <head>
        <title>
            Almynak | Manage you social club on the web
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">

        <link rel="stylesheet" href="/static/css/style.css">   

        <script  src="https://code.jquery.com/jquery-3.4.1.js"   
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="   
            crossorigin="anonymous"> 
        </script>

        <script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
             integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
             crossorigin="anonymous">
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
             integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
             crossorigin="anonymous">
        </script>


        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js">    
        </script>

        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/additional-methods.js">
        </script>

        <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>
 
    </head>
    <body class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-3 pb-3 pl-0 pr-4 title position-fixed">
                    <a href="./home" class="pl-0 pl-sm-4 float-left">
                        <img id="logo" src="{{brand}}" alt="logo">
                    </a>
                    {% if current_user.is_authenticated %}
                    <ul class="d-inline p-0">
                        <li class="nav-item dropdown d-inline">
                            <a class="nav-link dropdown-toggle d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form class="dropdown-form d-inline-block" action="/upload-image/brand-image" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="form-label pl-1">
                                            Select&nbsp;Image:
                                        </label>
                                        <div class="custom-file d-block">
                                            <input type="file" class="custom-file-input" name="brand-image" id="brand-image">
                                            <label class="custom-file-label label pt-2" for="brand-image">
                                                Image...
                                            </label>
                                        </div>
                                    </div>
                                    <button id="upload" class="btn btn-light mt-2 float-right" type="submit">
                                            Upload
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <ul id="menu" class="pl-3 pr-3 mr-0 mt-3  float-right">
                        {% for k, v in menu.items() %}
                        <li class="p-2 text-white font-weight-bold text-uppercase">
                            <a href="{{ v }}">
                                {{ k }}
                            </a>
                        </li>
                        {% endfor %}
                        {% if current_user.is_authenticated %}
                        <li class="p-2 text-white font-weight-bold text-uppercase">
                            <a href="/account">
                                Account
                            </a>
                        </li>
                        <li class="p-2 text-white font-weight-bold text-uppercase">
                            <a href="/logout">
                                Logout
                            </a>
                        </li>
                        <li class="nav-item dropdown d-inline">
                            <a class="nav-link dropdown-toggle d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <form class="dropdown-form d-inline-block" action="/update-menu" method="POST" enctype="multipart/form-data">
                                    {% for k, v in menu.items() %}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label class="form-label">
                                                   {{k}}
                                                </label>
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>
                                            <div class="col">
                                                <label class="form-label">
                                                    {{v}}
                                                </label>
                                                <input type="text" class="form-control" placeholder="Path">
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <button id="upload" class="btn btn-light mt-2 float-right" type="submit">
                                            Update
                                    </button>
                                </form>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
            {% block content %}

            {% endblock %}

            <div class="lift d-block row bg-dark base text-center">
                <div class="col">
                    <div class="row base-row position-absolute">
                        <div class="col base-col">
                            <img class="up-arrow" src="/static/images/up_arrow.png">
                        </div>
                    </div>
                    <div class="row justify-content-center mr-3">
                        <div class="col social-media-div">
                            <a href="#">
                                <img class="social-media" src="/static/images/facebook.png">
                                {% if current_user.is_authenticated %}
                                <div class="nav-item dropdown d-block">
                                    <a class="nav-link dropdown-toggle social-media-toggle d-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <form class="dropdown-form d-inline-block" action="/update-menu" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="form-label">
                                                            Facebook:
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="http://www.facebook.com/example">
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="upload" class="btn btn-light mt-2 float-right" type="submit">
                                                Update
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col  social-media-div">
                            <a href="#">
                                <img class="social-media" src="/static/images/twitter.png">
                                {% if current_user.is_authenticated %}
                                <div class="nav-item dropdown d-block">
                                    <a class="nav-link dropdown-toggle social-media-toggle d-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <form class="dropdown-form d-inline-block" action="/update-menu" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="form-label">
                                                            Twitter:
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="http://www.twitter.com/example">
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="upload" class="btn btn-light mt-2 float-right" type="submit">
                                                Update
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                        <div class="col social-media-div">
                            <a href="#">
                                <img class="social-media" src="/static/images/instagram.png">
                                {% if current_user.is_authenticated %}
                                <div class="nav-item dropdown d-block">
                                    <a class="nav-link dropdown-toggle social-media-toggle d-block" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <form class="dropdown-form d-inline-block" action="/update-menu" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="form-label">
                                                            Instagram:
                                                        </label>
                                                        <input type="text" class="form-control" placeholder="http://www.instagram.com/example">
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="upload" class="btn btn-light mt-2 float-right" type="submit">
                                                Update
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col footer mt-5 text-center text-secondary">
                                &copy; Almynak 2019. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block javascript %}

        {% endblock %}
        
    </body>
</html>


