{% extends 'base.html' %}
{% block content %}

            <div class="row banner-row">
                <div id="img-home" class="col pl-0 d-block text-white text-center align-text-top"><div id="home-overlay"></div>
                    <div class='row'>
                        <div class="col p-4 position-fixed banner">

                            {% if current_user.is_authenticated %}
                            <div class="banner-title text-center" id="banner" contenteditable="True">
                            </div>
                            <button id="commit-banner" class="btn btn-light mb-4">
                                Update
                            </button>
                            <div class="banner-tagline text-center" id="tagline" contenteditable="True">
                            </div>
                            <button id="commit-tagline" class="btn btn-light ml-2">
                                    Update
                            </button>
                            {%  else %}
                            <div class="banner-title text-center mb-2" id="banner">
                                {{banner}}
                            </div>
                            <div class="banner-tagline text-center" id="tagline">
                                {{tagline}}
                            </div>
                            <br>
                            {% endif %}
                            <button id="enter" onclick="window.location.href='/{{group_id}}/about'" class="btn {{ 'btn-' + theme_color }} mr-3 mr-sm-2 px-4 py-3">
                                Enter
                            </button>

                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class='row'>
                        <div class="col">
                            <div class="nav-item dropdown position-fixed update-background">
                                <a class="nav-link dropdown-toggle background-dropdown border-none d-inline" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img id="update-background" src="/static/images/wallpaper.png">
                                </a>
                                <div class="dropdown-menu dropdown-menu-base mt-5" aria-labelledby="navbarDropdown">
                                    <form class="dropdown-form d-inline-block" action="/upload_image/background-image/home" method="POST" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to upload this background image? Changes will take effect immediately.');">
                                        <div class="form-group">
                                            <label class="form-label pl-1">
                                                Select&nbsp;background&nbsp;image:
                                            </label>
                                            <div class="custom-file d-block">
                                                <input type="file" class="custom-file-input" name="background-image" id="background-image">
                                                <label class="custom-file-label label pt-2" for="background-image">
                                                    Image...
                                                </label>
                                            </div>
                                        </div>
                                        <button id="upload-image" class="update btn btn-light mt-2 float-right" type="submit">
                                            Upload
                                        </button>
                                    </form>
                                </div>
                            </div> 
                        </div>
                    </div>
                    {% endif %}                   
                </div>
            </div>
            {% endblock %}

            {% block javascript %}

            <script type="text/javascript">
                var background = "{{background}}"
            </script>

            <script type="text/javascript">
                var banner = "{{banner}}"
            </script>

            <script type="text/javascript">
                var tagline = "{{tagline}}"
            </script>

            <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>


            {% endblock %}